/////////////////// BACKGROUND ///////////////////


.bg_galerie_contact {
    background-color: $jaune;
    margin-bottom: 390.05px;
    margin-top: 80px;
    -webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);

}

@media (max-width:1024px) {
    .bg_galerie_contact {
        margin-bottom: 0;
    }
}


/////////////////// CONTENEUR DES SECTIONS ///////////////////


.contact_content {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;


    /////////////////// SECTIONS ///////////////////


    section {
        width: 100%;
        background-color: $bleu;
        margin-bottom: 50px;

        h3 {
            font-weight: normal;
            font-family: $font-navbar-cinzel;
            margin-bottom: 50px;
            border-bottom: 1px solid $jaune;
            width: 80%;
            color: $jaune;

        }

        p {
            color: $jaune;
            font-family: $font-titre-montserrat;
            font-size: 0.7em;

            span {
                font-size: 1.7em;
            }
        }

        &:nth-child(2n) {
            background-color: $jaune;

            h3 {
                color: $bleu;
                border-bottom: 1px solid $bleu;
            }
        }

        figure {

            height: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }


    /////////////////// TARIFS & CONTACTS ///////////////////


    .tarifs_contact {
        padding: 3vw;
    }


    /////////////////// FORMULAIRE TRAJETS ///////////////////

    .rsv_trajets_contact {

        .formBloc {
            display: flex;
            flex-direction: column;
            font-family: $font-titre-montserrat;
            


            .formGroupe {
                position: relative;
                display: flex;
                margin-bottom: 25px;
                &:nth-child(3){
                    
                    input{
                    text-align: right;
                    
                    }
                }
                &:nth-child(4){
                    button, input, optgroup, select, textarea{
                    text-align: right;
                    }
                }

                &:focus-within {
                    label {
                        top: 0;
                        transform: translateY(-100%);
                    }
                }

                input {
                    z-index: 10;
                    width: 100%;
                    border: none;
                    background: none;
                    border-bottom: 1px solid rgb(117, 119, 102);
                    padding: 5px 0;
                    outline: none;
                    font-size: 0.8em;
                    color: $bleu;
                    
                    
                }

                label {
                    position: absolute;
                    z-index: 0;
                    color: $bleu;
                    font-size: 0.7em;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    color: rgb(117, 119, 102);
                    transition: 0.4s ease-out;
                }
            }

            #text_area {
                margin: 0;

                input {
                    border: 1px solid rgb(117, 119, 102);
                    padding-bottom: 150px;
                    border-radius: 3px;
                    
                    &::placeholder {
                        font-size: 0.7em;
                        padding-left: 10px;
                    }
                }
            }

            button {
                color: $bleu;
                margin-top: 25px;
                width: 50%;
                background: none;
                border: 1px solid $bleu;
                border-radius: 3px;
                padding: 10px;
                font-size: 0.8em;
                cursor: pointer;
            }

            .formGroupe.animation {
                label {
                    top: 0;
                    transform: translateY(-100%);
                }
                
            }
        }
    }

    /////////////////// TOUT AUTRE DEMANDE ///////////////////



    .rsv_excursions_contact {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size: 0.7em;
            
        }
        .formBloc {
            display: flex;
            flex-direction: column;
            font-family: $font-titre-montserrat;



            .formGroupe {
                position: relative;
                display: flex;
                margin-bottom: 25px;

                &:focus-within {
                    label {
                        top: 0;
                        transform: translateY(-100%);
                    }
                }

                input {
                    z-index: 10;
                    width: 100%;
                    border: none;
                    background: none;
                    border-bottom: 1px solid $jaune;
                    padding: 5px 0;
                    outline: none;
                }

                label {
                    position: absolute;
                    z-index: 0;
                    color: $bleu;
                    font-size: 0.7em;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    color: $jaune;
                    transition: 0.4s ease-out;
                }
            }

            #text_area {
                margin: 0;

                input {
                    border: 1px solid $jaune;
                    padding-bottom: 150px;
                    border-radius: 3px;

                    &::placeholder {
                        font-size: 0.7em;
                        padding-left: 10px;
                        color:$jaune;
                    }
                }
            }

            button {
                color: $jaune;
                margin-top: 25px;
                width: 50%;
                background: none;
                border: 1px solid $jaune;
                border-radius: 3px;
                padding: 10px;
                font-size: 0.8em;
                cursor: pointer;
            }

            .formGroupe.animation {
                label {
                    top: 0;
                    transform: translateY(-100%);
                }
            }
        }
    }




    /////////////////// MAP BUREAU ///////////////////


    .map_bureau_contact {
        img {
            object-fit: cover;
            width: 100%;
        }
    }



    @media (min-width: 1024px) {

        section {
            width: 50%;
            margin:0;

        }

        .tarifs_contact {
            order: 1;

        }

        .rsv_trajets_contact {
            order: 3;
            padding:30px;

        }

        .rsv_excursions_contact {
            order: 4;
           
            
        }

        .map_bureau_contact {
            order: 2;
            
            img{
                display:block;
                height:100%;
                object-position: 20%;
            }
        }
    }
}