// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


////////////////// BACKGROUND //////////////////


.bg {
    background-color: $jaune;
    margin-bottom: 390.05px;
    margin-top: 0;
    -webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);

}

@media (max-width:1024px) {
    .bg {
        margin-bottom: 0;
    }
}

h2 {


    padding: 5vw 0;
    font-family: $font-abril;
    font-size: 1.5em;
    color: $bleu;
    margin: 0 5vw;
    font-weight: 10;


    @media (min-width:1024px) {
        font-size: 2.5em;
        font-weight: 10;
        padding: 2vw 0;
    }
}



////////////////// SPLASHSCREEN //////////////////


.splashscreen_home {
    position: relative;
    width: 100vw;
    max-width: 100%;
    z-index: 0;

    .sidebar_home {
        background-color: $bleu;
        width: 400px;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(6, 1fr);

        h1 {
            color: $jaune;
            font-family: $font-titre-montserrat;
            font-weight: 900;
            font-size: 40px;
            grid-row: 3 / 4;
            grid-column: 2 / 8;
            left: 9vw;
        }

        p {
            color: $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 5 / 6;
            grid-column: 2 / 6;
            font-size: 1rem;
            font-weight: 300;
        }

        a {
            color: $jaune;
            border: 1px solid $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 8 / 9;
            grid-column: 2 / 4;
            text-align: center;
            line-height: 40px;
            height: 40px;
            font-size: 1rem;
            min-width: 150px;
            text-decoration: none;
        }
    }

    figure {
        img {
            width: 100vw;
            max-width: 100%;
            height: 100vh;
            margin: 0 auto;
            display: block;
            object-fit: cover;
        }
    }
}

@media (max-width: 1024px) {
    .body_home {
        .splashscreen_home {
            .sidebar_home {
                width: 100vw;
                max-width: 100%;
                background-color: #222222a9;
            }
        }
    }
}


////////////////// TRAJETS //////////////////



.trajets_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bleu;
    padding: 5vw 0;


    section {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        max-width: 100%;
        margin: 20px 0;
        background-color: $jaune;
        border-radius: 20px;
        -webkit-box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.75);

        .sidebar-section_home {
            span {
                font-size: 0.8em;

            }

            .buttons {
                a {
                    border-radius: 10px;
                }
            }
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
            display: block;
            margin: 0 auto;
            font-family: $font-navbar-cinzel;
            font-weight: 500;
            padding: 10px 0;
            color: $bleu;
        }

        .underline_trajets {
            display: block;
            height: 1px;
            background-color: $bleu;
            margin: 0 auto;
            width: 20%;


        }

        p {
            font-family: $font-titre-montserrat;
            font-size: 0.7em;
            color: $bleu;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            padding: 2vw;

        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;

            border-radius: 20px 20px 0 0;

        }
    }
}


////////////////// TRAJETS 600px //////////////////


@media (min-width: 600px) {
    .trajets_home {
        background-color: $jaune;
        padding: 0;

        section {
            flex-direction: row;
            width: 100vw;
            max-width: 100%;
            box-shadow: none;
            border: none;

            a {
                width: 70%;
                order: 4;

                img {
                    width: 100%;
                    box-shadow: none;
                    height: auto;
                    min-height: 540.05px;
                    border-radius: 0;

                }
            }

            .sidebar-section_home {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: $bleu;

                h3 {
                    display: inline;
                    margin: 0;
                    order: 1;
                    color: $jaune;
                    padding: 10px 0;

                }

                .underline_trajets {
                    display: none;
                }

                p {
                    font-size: 0.7em;
                    width: 100%;
                    order: 2;
                    color: $jaune;
                    text-align: left;
                    padding: 2vw;
                }

                .buttons {
                    order: 3;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;


                    a {
                        background-color: $jaune;
                        color: $bleu;
                        border-radius: 0;
                    }

                    .esp_button {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


////////////////// TRAJETS 1024px //////////////////


@media (min-width: 1024px) {
    .trajets_home {
        overflow: hidden;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 40px;

        section {
            max-width: 100%;
            width: 500px;
            flex-direction: column;
            margin: 0;
            width: 30%;
            max-height: none;
            margin: 30px 0 !important;
            background-color: transparent;

            a {
                overflow: hidden;
                order: unset;
                width: unset;

                img {
                    height: 300px;
                    width: 100%;
                    order: 1;
                    max-height: 700px;
                    min-height: 350px;
                    transition: .7s;

                    &:hover {
                        transform: scale(110%);
                    }

                }
            }

            .sidebar-section_home {
                order: 2;
                width: 100%;
                padding: 0 20px;
                background-color: transparent;
                padding: 0;


                p {
                    font-size: 0.7em;
                    min-height: 186px;

                }

                h3,
                p {
                    color: $bleu;
                    text-align: left;
                    padding: 15px 0;
                    width: 100%;

                }

                .buttons {
                    flex-direction: row;
                    justify-content: flex-start;

                    margin: 0;



                    a {
                        padding: 0;
                        width: 150px;
                        background-color: $jaune;
                        color: $bleu;
                        border-radius: 0;
                        border: 1px solid $bleu;
                        position: relative;
                        overflow: hidden;
                        z-index: 10;
                        transition: color 0.45s;
                        justify-self: flex-end !important;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $bleu;
                            width: 100%;
                            height: 100%;
                            transform: translateX(-100%);
                            transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                            z-index: -10;

                        }

                        &:hover {
                            color: $jaune;

                            &:after {
                                transform: translateX(0);


                            }
                        }

                    }

                    .esp_button {
                        margin-bottom: 0;
                        margin-right: 1vw;

                    }
                }
            }
        }
    }

    @media (min-width: 1600px) {
        .trajets_home {
            section {
                .sidebar-section_home {
                    p {
                        min-height: 150px;
                    }
                }
            }
        }
    }
}

////////////////// EXCURSIONS //////////////////

.excursion_1 {
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
        height: 450px;
        width: 90%;
        max-width: 100%;
        object-fit: cover;

        object-position: bottom;
    }

    p {
        font-family: $font-titre-montserrat;
        text-align: center;
        font-size: 0.7em;
        width: 90%;
        margin: 0 auto;
        padding: 6vw 3vw;
        color: $bleu;


    }

    .buttons {
        flex-direction: row;
        margin: 0;
        align-items: center;

        justify-content: space-around;

        a {

            padding: 0;
            width: 150px;
            background-color: $jaune;
            color: $bleu;
            border-radius: 0;
            border: 1px solid $bleu;
            position: relative;
            overflow: hidden;
            z-index: 10;
            transition: all 0.45s;


            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $bleu;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                z-index: -10;

            }

            &:hover {
                color: $jaune;

                &:after {
                    transform: translateX(0);


                }
            }
        }
    }

    @media (min-width:1024px) {
        img {
            width: 75%;
        }

        .buttons {
            flex-direction: row;
            margin: 0;
            justify-content: space-around;
            padding: 0 25vw;

        }

        p {
            font-size: 0.8em;
            padding: 3vw;
        }
    }
}


.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}


//////////////////  BATEAUX //////////////////

.bg_boat_apropos {
    background: rgba(68, 80, 97, 1);
    background: -moz-linear-gradient(left, rgba(68, 80, 97, 1) 0%, rgba(68, 80, 97, 1) 48%, rgba(255, 241, 204, 1) 49%, rgba(255, 241, 204, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68, 80, 97, 1)), color-stop(48%, rgba(68, 80, 97, 1)), color-stop(49%, rgba(255, 241, 204, 1)), color-stop(100%, rgba(255, 241, 204, 1)));
    background: -webkit-linear-gradient(left, rgba(68, 80, 97, 1) 0%, rgba(68, 80, 97, 1) 48%, rgba(255, 241, 204, 1) 49%, rgba(255, 241, 204, 1) 100%);
    background: -o-linear-gradient(left, rgba(68, 80, 97, 1) 0%, rgba(68, 80, 97, 1) 48%, rgba(255, 241, 204, 1) 49%, rgba(255, 241, 204, 1) 100%);
    background: -ms-linear-gradient(left, rgba(68, 80, 97, 1) 0%, rgba(68, 80, 97, 1) 48%, rgba(255, 241, 204, 1) 49%, rgba(255, 241, 204, 1) 100%);
    background: linear-gradient(to right, rgba(68, 80, 97, 1) 0%, rgba(68, 80, 97, 1) 48%, rgba(255, 241, 204, 1) 49%, rgba(255, 241, 204, 1) 100%);
}

.boat_container_index {

    .boat_items {
        display: flex;
        width: 100%;
        background-color: $jaune;

        &:nth-child(1) {
            flex-direction: column;

        }

        &:nth-child(2) {
            border-radius: 0 0 0 50px;
            position: relative;

            a {
                position: absolute;
                bottom: 0;
                right: 10%;
                transform: translateY(50%);
                color: $bleu;
                height: 70px;
                background-color: $jaune;
                line-height: 64px;
                border: 3px solid $bleu;
                border-radius: 30px;
                padding: 0 4vw;
                font-family: $font-titre-montserrat;
                font-size: 0.8em;

            }
        }

        .separate_boat_index {
            height: 5px;
            background-color: $bleu;
            width: 70%;
            border-radius: 999px;
            margin-left: 5vw;
        }

        p {
            color: $bleu;
            font-family: $font-titre-montserrat;
            padding: 30px 5vw 70px 5vw;
            font-size: 0.8em;




        }

        &:nth-child(3) {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            padding: 50px;
            gap: 3vw;
            justify-content: center;

            background-color: $bleu;
            border-radius: 0 50px 50px 0;

            figure {
                width: 45%;
                color: $jaune;
                font-family: $font-titre-montserrat;
                text-align: center;
                font-size: 0.8em;


                img {
                    display: block;
                    width: 100%;


                }
            }

        }

        &:nth-child(4) {
            display: none;

            figure {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

        }

    }
}



//////////////////  BATEAUX 600px //////////////////


@media (min-width: 600px) {
    .bg_boat_apropos {
        background: none;

        .boat_container_index {
            .boat_items {
                &:nth-child(3) {
                    flex-direction: row;
                    flex-wrap: nowrap;
                    border-radius: unset;
                    padding: 7vw 5vw;
                }

                a {
                    border-radius: unset;
                }

                &:nth-child(4) {
                    display: block;
                    margin-top: 5vw;

                    a {


                        figure {

                            width: 90vw;
                            margin: 0 auto;

                            img {
                                display: block;
                                max-height: 450px;
                                object-fit: cover;
                                
                               
                            }
                        }
                    }

                    .boatton {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .bg_boat_apropos {

        .boat_container_index {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;

            .boat_items {
                width: 100%;
                align-items: center;

                &:nth-child(1) {
                    width: 100%;
                    
                    h2{
                        align-self: flex-start;
                    }

                    .separate_boat_index {
                        width: 100%;
                        margin: 0;
                        border-radius: unset;
                    }
                }

                &:nth-child(2) {
                    width: 50%;

                    border-right: 3px solid $bleu;

                    p {
                        padding: 0;
                        width: 60%;
                        margin: 0 auto;
                        font-size: 0.9em;

                    }

                    a {
                        display: none;
                    }

                }

                &:nth-child(3) {
                    width: 50%;
                    padding: 0;
                    flex-wrap: wrap;
                    padding: 5vw;
                    background-color: unset;
                    border-left: 3px solid $bleu;

                    figure {
                        width: 30%;
                        color:$bleu;
                        img{
                            width:70%;
                            margin:0 auto;
                        }

                    }
                }

                &:nth-child(4) {
                    width: 100%;
                    margin: 0;
                    border-top: 6px solid $bleu;
                    border-bottom: 6px solid $bleu;
                    position: relative;
                    a {
                        
                        figure {
                            width: 100%;

                            img {
                                width: 100%;
                                object-fit: cover;
                                max-height: 600px;
                                margin: 0 auto;
                            }
                        }
                    }
                    .boatton{
                        display: block;
                        position: absolute;
                        top:70%;
                        left:50%;
                        transform: translate(-50%, -50%);
                        color: $bleu;
                height: 70px;
                background-color: $jaune;
                line-height: 64px;
                border: 3px solid $bleu;
                
                padding: 0 4vw;
                font-family: $font-titre-montserrat;
                font-size: 1em;
                &:hover{
                    text-decoration: none;
                }
                    }
                }
            }
        }
    }
}



////////////////// A PROPOS //////////////////


.apropos_index {
    border-radius: 50px 0 0 0;
    background-color: $jaune;


    .separate_apropos {
        height: 5px;
        background-color: $bleu;
        width: 70%;
        border-radius: 999px;
        margin-left: 5vw;
    }

    p {
        color: $bleu;
        font-family: $font-titre-montserrat;
        padding: 5vw;
        font-size: 0.8em;
    }
}
@media (min-width: 1024px) {
    .apropos_index{
        width:70%;
        margin:0 auto;
    }
}