// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


////////////////// BACKGROUND //////////////////


.bg {
    background-color: $jaune;
    margin-bottom: 390.05px;
    margin-top: 0;
    -webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);

}

@media (max-width:1024px) {
    .bg {
        margin-bottom: 0;
    }
}

h2 {


    padding: 60px 0;
    font-family: $font-navbar-cinzel;
    font-size: 1.2em;
    color: $bleu;
    margin-left: 5vw;

    &:after {
        content: "";
        height: 1px;
        width: 50%;
        background-color: $bleu;
        display: block;
    }
}


////////////////// SPLASHSCREEN //////////////////


.splashscreen_home {
    position: relative;
    width: 100vw;
    max-width: 100%;
    z-index: 0;

    .sidebar_home {
        background-color: $bleu;
        width: 400px;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(6, 1fr);

        h1 {
            color: $jaune;
            font-family: $font-titre-montserrat;
            font-weight: 900;
            font-size: 40px;
            grid-row: 3 / 4;
            grid-column: 2 / 8;
            left: 9vw;
        }

        p {
            color: $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 5 / 6;
            grid-column: 2 / 6;
            font-size: 1rem;
            font-weight: 300;
        }

        a {
            color: $jaune;
            border: 1px solid $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 8 / 9;
            grid-column: 2 / 4;
            text-align: center;
            line-height: 40px;
            height: 40px;
            font-size: 1rem;
            min-width: 150px;
            text-decoration: none;
        }
    }

    figure {
        img {
            width: 100vw;
            max-width: 100%;
            height: 100vh;
            margin: 0 auto;
            display: block;
            object-fit: cover;
        }
    }
}

@media (max-width: 1024px) {
    .body_home {
        .splashscreen_home {
            .sidebar_home {
                width: 100vw;
                max-width: 100%;
                background-color: #222222a9;
            }
        }
    }
}


////////////////// TRAJETS //////////////////


.trajets_home {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin: 20px 0;
        max-height: 660px;
        -webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);

        &:nth-child(1) {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
            display: block;
            margin: 0 auto;
            font-family: $font-navbar-cinzel;
            font-weight: 500;
            padding: 10px 0;
            color: $bleu;
        }

        p {
            font-family: $font-titre-montserrat;
            font-size: 0.8em;
            color: $bleu;
            width: 100%;
            text-align: center;
            padding-bottom: 0;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            max-height: 450px;

        }
    }
}


////////////////// TRAJETS 900px //////////////////


@media (min-width: 600px) {
    .trajets_home {
        section {
            flex-direction: row;
            width: 100vw;
            box-shadow: none;

            img {
                width: 70%;
                order: 4;
            }

            .sidebar-section_home {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: $bleu;

                h3 {
                    display: inline;
                    margin: 0;
                    order: 1;
                    color: $jaune;

                }

                p {
                    width: 20vw;
                    order: 2;
                    color: $jaune;
                }

                .buttons {
                    order: 3;
                    width: 20%;
                    flex-direction: column;
                    width: auto;

                    a {
                        background-color: $jaune;
                        color: $bleu;
                    }

                    .esp_button {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


////////////////// TRAJETS 1024px //////////////////


@media (min-width: 1024px) {
    .trajets_home {
        overflow: hidden;
        //background-image: url(/img/factice/bgnuage.jpg);

        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 40px;

        section {
            max-width: 100%;
            width: 500px;
            flex-direction: column;
            margin: 0;
            width: 30%;
            align-items: center;
            margin: 30px 0 !important;

            img {
                height: 300px;
                width: 100%;
                order: 1;
                max-height: 700px;


            }

            .sidebar-section_home {
                order: 2;
                width: 100%;
                padding: 0 20px;
                background-color: transparent;
                padding: 0;

                p {
                    font-size: 0.7em;
                }

                h3,
                p {
                    color: $bleu;
                    text-align: left;
                    padding: 15px 0;
                    width: 100%;

                }

                .buttons {
                    flex-direction: row;

                    align-self: flex-start;



                    a {
                        padding: 0;
                        width: 150px;
                        background-color: $jaune;
                        color: $bleu;
                        border-radius: 0;
                        border: 1px solid $bleu;
                        position: relative;
                        overflow: hidden;
                        z-index: 10;
                        transition: color 0.45s;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $bleu;
                            width: 100%;
                            height: 100%;
                            transform: translateX(-100%);
                            transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                            z-index: -10;

                        }

                        &:hover {
                            color: $jaune;

                            &:after {
                                transform: translateX(0);


                            }
                        }

                    }

                    .esp_button {
                        margin-bottom: 0;
                        margin-right: 20px;

                    }
                }
            }
        }

        .trajet_2,
        .excursion_1 {



            img {}

            .sidebar-section_home {}
        }
    }
}

/* @media (min-width: 1024px) {
     .trajets_home {
         overflow: hidden;
         //background-image: url(/img/factice/bgnuage.jpg);
         background-color: $bleu;
        
        section {
            max-width: 100%;
             width: 100%;
             position: relative;
             left: 50%;
             transform: translate(-40%, 0);
             margin-bottom: 75px;
            
             &:nth-child(1){
                 margin-top: 100px;
             }
             &:nth-child(4){
                 margin-bottom: 100px;
             }
             .sidebar-section_home {
                 position: absolute;
                 height: 350px;
                 right: 0;
                 top: 50%;
                 transform: translate(-50%, -50%);
                 padding: 0 20px;
                 -webkit-box-shadow: -8px 9px 26px 0px rgba(0, 0, 0, 0.75);
                 -moz-box-shadow: -8px 9px 26px 0px rgba(0, 0, 0, 0.75);
                 box-shadow: -8px 9px 26px 0px rgba(0, 0, 0, 0.75);
                 background-color: $jaune;
                 h3, p{
                     color:$bleu;
                 }
                 .buttons {
                     flex-direction: row;
                     justify-content: space-around;
                     width: 100%;
                    
                     a {
                         padding: 0;
                         width: 150px;
                         background-color: $bleu;
                         color:$jaune;
                     }

                     .esp_button {
                         margin-bottom: 0;
                         margin-right: 10px;
                     }
                 }
             }

             img {
                 max-height: 700px;
                 --webkit-box-shadow: 7px 10px 22px -3px rgba(0,0,0,0.75);
                 -moz-box-shadow: 7px 10px 22px -3px rgba(0,0,0,0.75);
                 box-shadow: 7px 10px 22px -3px rgba(0,0,0,0.75);
             }
         }

         .trajet_2,
         .excursion_1 {

             left: 60%;

             img {
                 order: 2;
             }

             .sidebar-section_home {
                 order: 1;
                 left: 0;
                 -webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
                 -moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
                 box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
             }
         }
     }
 }
  */

////////////////// EXCURSIONS //////////////////

.excursion_1 {
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
        height: 450px;
        width: 90%;
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 50px;
    }

    p {
        font-family: $font-titre-montserrat;
        text-align: center;
        font-size: 0.8em;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    a {

        padding: 0;
        width: 150px;
        background-color: $jaune;
        color: $bleu;
        border-radius: 0;
        border: 1px solid $bleu;
        position: relative;
        overflow: hidden;
        z-index: 10;
        transition: all 0.45s;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $bleu;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: -10;

        }

        &:hover {
            color: $jaune;

            &:after {
                transform: translateX(0);


            }
        }
    }
}


.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}



////////////////// A PROPOS //////////////////


.apropos_home {
    width: 100%;
    background-color: $bleu;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        display: none;
    }

    p {
        font-family: $font-titre-montserrat;
        font-size: 0.8em;
        width: 80%;
        margin: 0 auto;
        padding: 100px 0;
        color: $jaune;
        max-width: 80%;
    }

    @media (min-width: 1024px) {
        img {
            display: block;
            width: 50%;
        }

        p {
            width: 50%;
            padding: 50px;
        }
    }
}


//////////////////  BATEAUX //////////////////


.boat_home {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

    a {
        z-index: 1;

        img {
            width: 80vw;
            margin: 0 auto;
            max-height: 500px;
            object-fit: cover;
            max-width: 1200px;
        }
    }

    span {
        position: absolute;
        height: 60vw;
        width: 70vw;
        border: 5px solid $bleu;
        left: 17vw;
        top: 6vw;
        z-index: 0;
        max-height: 500px;
        max-width: 1200px;
    }

    .buttons {
        a {
            padding: 0;
          width:150px;
            background-color: $jaune;
            color:$bleu;
            border-radius: 0;
            border:1px solid $bleu;
            position: relative;
            overflow: hidden;
            z-index: 10;
            transition: all 0.45s;
            &:after{
                content:"";
                position: absolute;
                top:0;
                left:0;
                background-color: $bleu;
                width:100%;
                height:100%;
                transform: translateX(-100%);
                transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                z-index: -10;
                
            }
            &:hover{
                color:$jaune;
                
                &:after{
                    transform: translateX(0);
                    
                  
                }
            }
           
        }
        .esp_button {
            margin-top: 7vw;
            margin-bottom: 3vw;
        }
    }
}