////////////////// SPLASHSCREEN //////////////////


.splashscreen_trajets {
    position: relative;
    width: 100vw;
    max-width: 100%;
    z-index: 0;

    .sidebar_trajets {
        background-color: $bleu;
        width: 400px;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(6, 1fr);

        h1 {
            color: $jaune;
            font-family: $font-titre-montserrat;
            font-weight: 900;
            font-size: 40px;
            grid-row: 3 / 4;
            grid-column: 2 / 8;
            left: 9vw;
        }

        p {
            color: $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 5 / 6;
            grid-column: 2 / 6;
            font-size: 1rem;
            font-weight: 300;
        }

        a {
            color: $jaune;
            border: 1px solid $jaune;
            font-family: $font-titre-montserrat;
            grid-row: 8 / 9;
            grid-column: 2 / 4;
            text-align: center;
            line-height: 40px;
            height: 40px;
            font-size: 1rem;
            min-width: 150px;
            text-decoration: none;
        }
    }

    figure {
        img {
            width: 100vw;
            max-width: 100%;
            height: 100vh;
            margin: 0 auto;
            display: block;
            object-fit: cover;
        }
    }
}

@media (max-width: 1024px) {
    .body_trajets {
        .splashscreen_trajets {
            .sidebar_trajets {
                width: 100vw;
                max-width: 100%;
                background-color: #222222a9;
            }
        }
    }
}


////////////////// TRAJETS //////////////////


.trajets_trajets {
    display: flex;
    flex-direction: column;
    align-items: center;

    .separate_trajets {
        height: 1px;
        width: 80%;
        background-color: $bleu;
        margin: 50px 0;
        display: none;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin: 20px 0;
        max-height: 660px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        &:nth-child(1) {
            margin-top: 0;
        }

        h3 {
            text-align: center;
            display: block;
            margin: 0 auto;
            font-family: $font-titre-montserrat;
            padding: 10px 0;
            color: $bleu;
            font-size: 1em;
        }

        p {
            font-family: $font-titre-montserrat;
            font-size: 0.7em;
            color: $bleu;
            width: 100%;
            text-align: center;
            padding-bottom: 0;
            margin-bottom: 15px;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            max-height: 450px;

        }

        .rsv_button {
            display: block;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
        }
    }
}

@media (min-width: 600px) {
    .trajets_trajets {
        

        .separate_trajets {
            display: block;
        }

        section {
            flex-direction: row;
            width: 100vw;
            box-shadow: none;
            
            img {
                width: 50%;
                order: 2;
                max-height: none;
                object-position: 20%;
            }

            .sidebar_article_trajets {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                background-color: $bleu;
                order: 1;
                padding-left: 2vw;
                
                h3 {
                    
                    margin: 0;
                    color: $jaune;
                    width: 100%;
                    text-align: left;
                    font-family: $font-navbar-cinzel;
                    font-weight: normal;
                    border-bottom: 1px solid $jaune;
                    width:90%;
                    margin-top: 20px;
                }

                p {
                    width: 90%;
                    text-align: left;
                    color: $jaune;
                    padding:30px 0;
                }

                .rsv_button {
                    background-color: $jaune;
                    color: $bleu;
                    margin:0;
                    margin-bottom: 30px;
                    
                }

            }

            &:nth-child(3) {
                .sidebar_article_trajets {
                    order: 2;
                    align-items: flex-end;
                    padding-left: 0;
                    padding-right: 2vw;
                    p{
                        text-align: right;
                    }
                    h3{
                        text-align: right;
                    }
                }
            }

        }

    }
}

@media (min-width: 1024px) {
    .trajets_trajets {
        overflow: hidden;
       padding: 100px 0;

        section {
            width: 90%;
            min-height: 600px;
            margin-left:15%;
            
            .sidebar_article_trajets {
                width:60%;
                align-items: flex-start;
                justify-content: center;
                padding-left: 3vw;
                

                p {
                    text-align: left;
                    width:60%;
                }

                .rsv_button {
                    padding: 0;
                    width: 150px;
                    background-color: $jaune;
                    color: $bleu;
                    border-radius: 0;
                    border: 1px solid $jaune;
                    position: relative;
                    overflow: hidden;
                    z-index: 10;
                    transition: color 0.45s;
                    margin: 0;
                    margin-bottom: 20px;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $bleu;
                        width: 100%;
                        height: 100%;
                        transform: translateX(-100%);
                        transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                        z-index: -10;

                    }

                    &:hover {
                        color: $jaune;

                        &:after {
                            transform: translateX(0);


                        }
                    }

                }
            }

            img {
                height: 27vw;
                width: 40%;
                align-self: center;
                min-height: 400px;
                position: relative;
                left:-15%;
                display:block;
                object-fit: cover;
                transition: all .5s;
                
                &:hover {
                    height:32vw;
                    transform: scale(120%);
                    
                }
            }

            &:nth-child(3) {
                margin-right: 25%;

                img {
                    position: relative;
                    left:15%;
                    &:hover {
                        transform: scale(120%);
                        height:32vw;
                       
                    }
                }

                .sidebar_article_trajets {
                    align-items: flex-end;
                    padding-left: 0;
                    padding-right: 3vw;

                    p {
                        text-align: right;
                    }
                }
            }

        }
    }
}


////////////////// EXCURSIONS //////////////////



.excursions_trajets {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, 50%);



    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        max-height: 600px;

        img {
            width: 100%;
            display: block;
            object-fit: cover;
            max-height: 600px;
        }

        h3 {
            font-family: $font-navbar-cinzel;
            color: $bleu;
            font-weight: 400;


        }

        .separate_exc {
            width: 70%;
            background: $bleu;
            height: 2px;
            margin-bottom: 2vw;
        }

        p {
            color: $bleu;
            text-align: right;
            font-family: $font-titre-montserrat;
            font-size: 0.7em;
            margin-top: 2vw;

        }
    }

    .nosi_txt {
        background: $bleu;
        padding: 0 100px;

        .rsv_button {
            margin-top: 40px;
            background-color: $bleu;
            color: $bleu;
            padding: 0;
            width: 150px;
            color: $jaune;
            border-radius: 0;
            border: 1px solid $jaune;
            position: relative;
            overflow: hidden;
            z-index: 10;
            transition: color 0.45s;


            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $jaune;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                z-index: -10;

            }

            &:hover {
                color: $bleu;

                &:after {
                    transform: translateX(0);


                }
            }

        }

        h3,
        p {
            color: $jaune;

        }

        .separate_exc {
            background: $jaune;
        }
    }

    .dmd_txt {
        background: $jaune;
        padding: 0 100px;
        order: 2;
        align-items: flex-start;

        .rsv_button {
            margin-top: 40px;
            padding: 0;
            width: 150px;
            background-color: $jaune;
            color: $bleu;
            border-radius: 0;
            border: 1px solid $bleu;
            position: relative;
            overflow: hidden;
            z-index: 10;
            transition: color 0.45s;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $bleu;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                z-index: -10;

            }

            &:hover {
                color: $jaune;

                &:after {
                    transform: translateX(0);


                }
            }

            &:hover {
                color: $jaune;
            }
        }

        h3,
        p {
            color: $bleu;
            text-align: left;

        }

        .separate_exc {
            background: $bleu;

        }
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(auto-fit, 100%);

        .nos_img {
            order: 1;
        }

        .nosi_txt {
            order: 2;
            padding: 0 20px;
            padding-bottom: 20px;


            .rsv_button {
                background-color: $jaune;
                color: $bleu;
                margin: 0 auto;

            }
        }

        .dmd_img {
            order: 3;
        }

        .dmd_txt {
            order: 4;
            align-items: center;
            padding-top: 0;
            padding: 0 20px;
            padding-bottom: 20px;

            p {
                text-align: center;

            }

            h3 {
                text-align: center;
            }

        }

        section {
            align-items: center;

            p {
                text-align: center;
                margin: 0;
                margin-bottom: 20px;
            }

            h3 {
                margin: 20px 0;
            }

        }

    }
}