// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.rsv_button, .esp_button{
        font-family: $font-titre-montserrat;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 1rem;
        text-decoration: none!important;
        padding:0 2vw;
        font-weight: 600;
        color: $jaune;
        border-radius: 10px;
        background-color: $bleu;

}