// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.rsv_button, .esp_button{
        color: $dark_grey;
        border: 1px solid $dark_grey;
        font-family: $font-titre-montserrat;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 1rem;
        text-decoration: none!important;
        padding:0 2vw;
        font-weight: 600;
}